.caroussel{
    display: flex;
    flex: 1;
    padding: 0 2rem 0 2rem;
    align-items: center;
    justify-content: center;
}

.description{
    font-weight: 400;
    text-align:justify;
    margin: 7rem 0 7rem 0;
}
.description h4{
    text-align: center;
    padding-bottom: 2rem;
}

.cardRow{
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 8rem;
}

.serviceCard{
    margin: 1rem 0;
    justify-content: center;
    text-align: center;
    font-weight: 700;   
}

.serviceCardBody{
    padding: 7rem 0 7rem 0;
}

.serviceForm{
    margin: 4rem 0;
    margin: black;
}

.rentalCarrousel{
    display: flex;
    flex: 1;
    margin: 3rem;
    height: 40vh;
}
.searchContainer{
    display: flex;
    flex: 1;
    width: 70%;
    margin: 6rem;
}
.searchList{
    display: flex;
    flex: 1;
    flex-direction: column;
}
.equipCard{
    display: flex;
    flex: 1;

}
.equip{
    width: 18rem;
    margin: 1rem;
}