
.caroussel{
    display: flex;
    flex: 1;
    padding: 0 2rem 0 2rem;
    align-items: center;
    justify-content: center;
}

.description{
    font-weight: 400;
    text-align:justify;
    margin: 5rem 0 5rem 0;
}

.cardRow{
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 5rem;
}