.caroussel {
    display: flex;
    flex: 1;
    margin: 3rem 15rem;
    align-items: center;
    justify-content: center;
}

.description {
    font-weight: 400;
    text-align: justify;
    margin: 7rem 15rem;
}

.description h4 {
    text-align: center;
    padding-bottom: 2rem;
}

.cardRow {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 8rem;
}

.serviceCard {
    margin: 2rem 0;
    justify-content: center;
    text-align: center;
    margin: 3rem;
    font-weight: 700;
    font-size: 2vw;
}

.serviceCardBody {
    padding: 12rem;
}

.serviceForm {
    margin: 3rem 15rem;
    margin: black;
}

.rentalCarrousel {
    display: flex;
    flex: 1;
    margin: auto;
    height: 700px;
    width: 400px;
    align-items: center;
    justify-content: center;
}

.equipContainer {
    display: flex;
    flex: 1;
    flex-direction: column;
    width:auto;
    margin: 8rem 15rem;
    align-items: center; 
    border-style: "solid";
    border-color: "#F1B82D";
    border-width: "7px";

}

.equipRows {
    display: grid;
    justify-content: center;
    justify-items: center;
    gap: 30px;
    padding: 30px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

@media (min-width: 1080px) {
    .equipCard {
        align-items: center;
        justify-content: center;
        padding: 20px;
    }
}

@media (max-width: 900px) {
    .equipCard {
        align-items: center;
        justify-content: center;
        padding: 20px;
    }

    .caroussel {
        width: 100%;
        margin: 0;
    }

    .description {
        margin: 3rem 1rem;
    }
    .equipContainer{
        width: auto;
        margin: auto;
    }

}

.reviewCards {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5rem 0;
    text-align: center;
    gap: 18px;

}

.reviewCardBody {
    height: 25vh;
    justify-content: center;
}

.historyTimeline {
    display: flex;
    flex: 1;
    flex: wrap;
    margin: 3rem;
    align-items: center;
    justify-content: space-around;
}

.contactCard {
    height: 30vh;
    align-items: center;
    width: 22rem;
}

.blog {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin: 5rem 2rem;
    text-align: justify;
}

.blogPost {
    display: flex;
    flex: 1;
    align-items: center;
    margin-bottom: 4rem;
}

.blogPost img {
    width: 28rem;
}

.blogPost h3 {
    margin: 0rem 2rem;
}

.blogPost p {
    margin: 1rem;
}

.blogText {
    margin: 6rem 10rem;
}

.blogText h3 {
    text-align: center;
}