
@media screen and(max-width: 900px){
    .headerFirstLine{   
        flex-wrap: wrap;
    }
}

.headerFirstLine{
    display: flex;
    flex: 2;
    justify-content: space-between;
}

.ilsLogo{
    flex: 1;
    align-items: flex-start;
    margin-left: 3rem;
}

.headerInfo{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin: 1rem 4rem 0 0;
    font-weight: 700;
    font-size: 1vw;  
}

.buttonContainer{
   flex: 1;
   flex-wrap: wrap;
   color:white;
}

.footerStyle{
    display: flex;
    flex: 1;
    flex-direction: row;
    background-color: rgb(39, 52, 131);
    padding: 10rem 1rem;
    height: 25rem;
    border-top-left-radius: 50px;
    overflow: hidden;
}
.footerForm{
    color:white !important;
    margin-left: 15px;
    width: 15rem;
}
.footerLink{
    color:white !important;
}


@media screen and (max-width: 800px) {
    .headerInfo {
      width: 100%; 
    }
    .headerContainer{
        height: "350px";
    }
    .footerForm{
        visibility: hidden;
    }
    .footerStyle{
        text-align: center;  
    }
}