.headerContainer{
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(39, 52, 131);
    border-bottom-right-radius: 30px;
    align-items: center;
    justify-items: center;
    margin-bottom: 1rem;
    padding: 4rem 2rem;
    color: azure;
}

.ilsLogo{
    flex: 1;
    align-items: flex-start;
}

.headerInfo{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 1rem;   
}

.buttonContainer{
   display: flex;
   flex: 1;
   flex-wrap: wrap;
   align-items: center;
   justify-items: center;
   color: gray;
   text-decoration: none;
   font-size: 10pt;
}
.headerBts{
    flex: 1;
    border-radius: 6px;
}

.footerStyle{
    background-color: rgb(39, 52, 131);
    padding: 5rem 1rem;
}
.footerText{
    color:white !important;
}
.footerLink{
    color:white !important;
}