.headerContainer{
    display: flex;
    flex: 1;
    justify-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    background-color: rgb(20, 99, 72);
    border-radius: 12px;
    align-items: center;
    margin: 1rem;
    padding: 0 2rem 0 2rem;
    color: azure;
}

.ilsLogo{
    flex: 1;
    align-items: flex-start;
}

.headerInfo{
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;    
}
.headerBts{
    width: 10rem;
    padding: 0.3rem 0 0.3rem 0;
    border-radius: 4px;
}

.buttonContainer{
    margin: 0 2rem 0 2rem;
    display: flex;
    flex: 1;
    align-content: space-around;
    justify-content: space-around;
}